<div class="container-fluid">
  <div class="row">
    <div class="col bg-transparent text-dark text-center">
      <a class="navbar-brand"><h5>ሰዓት መቆጣጠሪያ ገጵ</h5></a>
    </div>
  </div>

  <div class="row">
      <div class="col-12">
        <p>
          መለያ ቁጥር: &nbsp;
          <input
            type="form-control"
            placeholder="የሰራተኛውን መለያ ያስገቡ"
            name="empId"
            #empID
          />
          <button
            style="margin: 0px 30px"
            class="btn btn-sm bg-success text-white"
            (click)="searchEmp(empID.value)"
          >
            <i class="fa fa-search fa-x">&nbsp; &nbsp; ፈልግ</i>
          </button>
        </p>
  
        <!-- <h2 ><i class="fa fa-user-circle fa-x"></i> {{employee.fullName}}</h2> -->
        <hr />
        <div class=" row">
          <div class="col-5 salryInput">
         <div class="card card-body">
          <!-- Adding the details of the selected employee -->
          <div class=" input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user fa-x"></i
                ></span>
              </div>
              <input
                type="text"
                readonly
                class="form-control bg-white"
                placeholder="ሙሉ ስም"
                [(ngModel)]="employee.fullName"
              />
            </div>
  
            <!-- Adding the third employee attribute -->
            <div class=" input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-phone-square fa-x"></i
                ></span>
              </div>
              <input
                type="text"
                readonly
                class="form-control bg-white"
                placeholder="ሞባይል ስልክ"
                [(ngModel)]="employee.mobilePhone"
              />
            </div>
  
            <!-- Adding the 4th employee attribute -->
            <div class=" input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-briefcase fa-x"></i
                ></span>
              </div>
              <input
                type="text"
                readonly
                class="form-control bg-white"
                placeholder="ስራ ሀላፊነት"
                [(ngModel)]="employee.position"
              />
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">ቀን</span>
             
              <input class="form-control" placeholder="ሚመዘገበው ቀን"
              name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="fa fa-calendar text-dark"></i></button>
              </div>
            </div>
              <pre>* ባዶ ቦታው ላይ ክሊክ አድርገው ቀን ይምረጡ </pre>
            </div>
            <div class="input-group" >
                <div class="input-group-prepend">
                  <div class="input-group-text border-success">
                    <input  [(ngModel)]="disabled" (change)="isAnswerProvided($event)"
                     type="checkbox" aria-label="Checkbox for following text input">
                     <span>ሰዓት</span>
                  </div>
                 
                </div>
                <ngb-timepicker class="ml-3"
                [(ngModel)]="time"
                [disabled]="!disabled"
              ></ngb-timepicker>
              <pre>* ሰአት ለመመዝገብ ሳጥንዋን ክሊክ ያድርጉ </pre>
            </div>

            <div class=" input-group " >
                <div class="input-group-prepend">
                  <span class="input-group-text"> ምን?</span>
                 <select class="custom-select mr-sm-2" (input)="save($event.target.value)">
                  <option selected>ምረጥ</option>
                  <option>ቀሪ መዝግብ</option>
                  <option>ሰዓት መዝግብ</option>
                  <option>ቀሪ (በህመም)</option>
                  <option>የእረፍት ፈቃድ</option>
                  <option>ኦቨር ታይም</option>
                  <option>ሌላ ምክንያት</option>
                </select>
              </div>
              
              <pre>* ሚመዘገበው መረጃ ምን እንደሆነ ይምረጡ </pre>
              </div>
              
              
              <div class=" input-group" *ngIf="other">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        ምክንያት </span>
                  <input
                    type="text"
                    class="form-control bg-white"
                    placeholder="ምክንያት"
                    [(ngModel)]="employee.position"
                  />
                </div>
                  <pre>* ሌላውን ምክንያት ያስገቡ </pre>
                </div>
          </div>  
          <br>
            <button class="btn btn-success m-1" (click)="saveTime()">
                መዝግብ
              </button>
              <button class="btn btn-warning m-1" (click)="clear()">
                አዲስ
              </button>
          </div>
          <div class="col-1"></div>
          <div class="col-6">
          

                <!-- <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker> -->
                <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                  </ngb-datepicker>
                  
                  <ng-template #t let-date let-focused="focused">
                    <span class="custom-day"
                          [class.focused]="focused"
                          [class.range]="isRange(date)"
                          [class.faded]="isHovered(date) || isInside(date)"
                          (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null">
                      {{ date.day }}
                    </span>
                  </ng-template>
                  <pre class="text-dark">* ብዙ ቀናትን ለመምረጥ ይሄን ካላንደር ይጠቀሙ</pre>
               <hr>
               <div class="row">
                 
                <div class="col-6">
                    <p >በአጠቃላይ  የተመዘገቡ: </p> 
                    <small>የቀሪ ቀናት ብዛት:  <span class="badge badge-danger ">7</span></small> <br>
                    <small>ያሉት የእረፍት ቀናት: <span class="badge badge-danger ">2</span></small> <br>
                    <small>በህመም የወጡ ቀናት: <span class="badge badge-danger ">3</span></small>
                </div>
                <div class="col-6">
                    <p >ለመጨረሻ ጊዜ የተመዘገበ: </p> 
                    <small>ቀሪ ቀን: <span class="badge badge-dark ">2011-04-20</span></small> <br>
                    <small> የእረፍት ቀን: <span class="badge badge-dark ">2011-02-15</span></small> <br>
                    <small>የህመም ቀን: <span class="badge badge-dark ">2011-01-20</span></small>
                </div>
               </div>
             
              
                
                  <!-- <div class="card text-dark border-dark mb-3 m-1" style="max-width: 18rem;">
                    <div class="card-header text-white bg-info">የተመዘገበ</div>
                    <div class="card-body">
                      <ul class="list-group border-success">
                        <li
                          class="list-group-item d-flex justify-content-between align-items-center"
                        >
                          የቀሪ ቀናት ብዛት <span class="badge badge-danger badge-pill">7</span>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-between align-items-center"
                        >
                          ያሉት የእረፍት ቀናት <span class="badge badge-danger badge-pill">2</span>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-between align-items-center"
                        >
                          በህመም የወጡ ቀናት <span class="badge badge-danger badge-pill">3</span>
                        </li>
                      </ul>
                    </div>
                  
                  <div class="card text-dark border-dark  mb-3 m-1" style="max-width: 18rem;">
                    <div class="card-header text-white bg-info"></div>
                    <div class="card-body">
                      <ul class="list-group border-success">
                        <li
                          class="list-group-item d-flex justify-content-between align-items-center"
                        >
                          ቀሪ ቀን <span class="badge badge-dark ">2011-04-20</span>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-between align-items-center"
                        >
                          የእረፍት ቀን <span class="badge badge-dark ">2011-02-15</span>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-between align-items-center"
                        >
                          የህመም ቀን <span class="badge badge-dark ">2011-01-20</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div> -->
    
        </div>
      </div>
    </div>
</div>

<!-- <hr/>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button> -->
<!-- Modal content -->
<ng-template #content let-modal>
  <div class="modal-header bg-dark text-white">
    <h4 class="modal-title" id="modal-basic-title">ማረጋገጫ</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
    >
      <span class="text-danger" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-white text-dark">
    አዲስ መረጃ በ {{ employee.fullName }} ላይ ይመዘገባል! ቀጥል?
  </div>
  <div class="modal-footer warning ">
    <button
      type="button"
      class="btn text-white bg-success"
      (click)="modal.close() && isTrue=true"
    >
      መዝግብ
    </button>
    <button
      type="button"
      class="btn text-white bg-danger"
      (click)="modal.close() && isTrue=false"
    >
      ተመለስ
    </button>
  </div>
</ng-template>

<!-- End of modal content  -->
