table button {
    margin: 10px 10px;
}
.empDetail p{
    border-bottom: 1px dotted black;
    width: 100%;
}

.empDetail span, textarea{
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.card-footer button{
    width: 90px; 
    height: 40px; 
    margin: 0px 10px;
}

.showTable{
   max-height: 500px;
   overflow-y: scroll; 
  }

  td{
    cursor: pointer;
  }