<div class="container-fluid">
  <div class="row">
    <div class="col bg-transparent text-dark text-center">
      <a class="navbar-brand"><h5>አጠቃላይ የሰራተኞች ዝርዝር እና መረጃ</h5></a>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-4 empDetail">
      <div class="card border-dark mb-3" style="max-width: 25rem;">
        <div class="card-header bg-transparent border-dark">የተመረጠው ሰራተኛ</div>
        <div class="card-body text-dark">
          <!-- Adding the details of the selected employee -->
          <div class=" input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user fa-x"></i
              ></span>
            </div>
            <input
              type="text"
              readonly
              class="form-control bg-white"
              placeholder="ሙሉ ስም"
              [(ngModel)]="selectedEmployee?.fullName || display"
            />
          </div>
          <!-- Adding the second employee attribute -->
          <div class=" input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-id-badge fa-x"></i
              ></span>
            </div>
            <input
              type="text"
              readonly
              class="form-control bg-white"
              placeholder="መለያ ቁጥር"
              [(ngModel)]="selectedEmployee?.empId || display"
            />
          </div>

          <!-- Adding the third employee attribute -->
          <div class=" input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-phone-square fa-x"></i
              ></span>
            </div>
            <input
              type="text"
              readonly
              class="form-control bg-white"
              placeholder="ሞባይል ስልክ"
              [(ngModel)]="selectedEmployee?.mobilePhone || display"
            />
          </div>

          <!-- Adding the 4th employee attribute -->
          <div class=" input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-briefcase fa-x"></i
              ></span>
            </div>
            <input
              type="text"
              readonly
              class="form-control bg-white"
              placeholder="ስራ ሀላፊነት"
              [(ngModel)]="selectedEmployee?.position || display"
            />
          </div>
          <!-- Adding the 5th employee attribute -->
          <div class=" input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-location-arrow fa-x"></i
              ></span>
            </div>
            <input
              type="text"
              readonly
              class="form-control bg-white"
              placeholder="አድራሻ"
              [(ngModel)]="selectedEmployee?.address || display"
            />
          </div>
          <!-- Adding the 6th employee attribute -->
          <div class=" input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user-plus fa-x"></i
              ></span>
            </div>
            <input
              type="text"
              readonly
              class="form-control bg-white"
              placeholder="ተያዥ-ተጠሪ "
              [(ngModel)]="selectedEmployee?.emrContactName || display"
            />
          </div>

          <!-- Adding the 7th employee attribute -->
          <div class=" input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-phone-square fa-x"></i
              ></span>
            </div>
            <input
              type="text"
              readonly
              class="form-control bg-white"
              placeholder="ተያዥ-ተጠሪ ስልክ"
              [(ngModel)]="selectedEmployee?.emrContactPhone || display"
            />
          </div>
        </div>
        <div class="card-footer bg-transparent border-dark">
          <button
            class="btn btn-sm btn-warning"
            [routerLink]="['/dashboard/employees/edit', selectedEmployee?.id || display]"
          >
          ቀይር
          </button>
          <!--  (click)="deleteEmployee(selectedEmployee?.id || display)" -->
          <button
            class="btn btn-sm btn-danger"
            (click)="openVerticallyCentered(content)"
           
          >
          አጥፋ
          </button>
        </div>
      </div>
    </div>
    <div class="col-8 ">
      <div class="showTable">
        <table class="table table-sm table-striped table-dark table-hover">
          <thead>
            <tr>
              <th>መለያ ቁጥር</th>
              <th>ሙሉ ስም</th>
              <th>ዲፓርትመንት</th>
              <th>ሞባይል ስልክ</th>
              <th>አድራሻ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let em of getEmployees()" [class.bg-success]="getSelected(em)" (click)="getSelectedEmp(em)" (mouseover)="isSelected=em.empId">
              <td >{{em.empId}}</td>
              <td>{{ em.fullName}}</td>
              <td>{{ em.department }}</td>
              <td>{{ em.mobilePhone }}</td>
              <td>{{ em.address }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-success" routerLink="/dashboard/employees/create">
        አዲስ መዝግብ
      </button>
    </div>
  </div>
</div>

<div>
  <img src="{{selectedUser}}" alt="">
  
</div>





<!-- Modal content -->
<ng-template #content let-modal>
    <div class="modal-header bg-dark text-white">
      <h4 class="modal-title" id="modal-basic-title">ማረጋገጫ</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span class="text-danger" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-white text-dark">
      አዲስ መረጃ በ {{ selectedEmployee?.fullName || display}} ላይ ይመዘገባል! ቀጥል?
    </div>
    <div class="modal-footer warning ">
      <button
        type="button"
        class="btn text-white bg-success"
        (click)="handleModal(true)"
      >
        መዝግብ
      </button>
      <button
        type="button"
        class="btn text-white bg-danger"
        (click)="handleModal(false)"
      >
        ተመለስ
      </button>
    </div>
  </ng-template>

  <!-- <pre>Hello {{deleteEmp}}</pre> -->
  
  <!-- End of modal content  -->
