<div class="container-fluid">
  <div class="row">
    <div class="col bg-transparent text-dark text-center">
      <a class="navbar-brand"><h5>የክፍያ ሂሳብ መስሪያ እና መቆጣጠሪያ</h5></a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>
        መለያ ቁጥር: &nbsp;
        <input
          type="form-control"
          placeholder="የሰራተኛውን መለያ ያስገቡ"
          name="empId"
          #empID
        />
        <button
          style="margin: 0px 30px"
          class="btn btn-sm bg-success text-white"
          (click)="searchEmp(empID.value)"
        >
          <i class="fa fa-search fa-x">&nbsp; &nbsp; ፈልግ</i>
        </button>
      </p>

      <h2 *ngFor="let sal of getSalaries()"><i class="fa fa-user-circle fa-x"></i> {{employee.fullName}}</h2>
      <hr />
      <div class=" row">
        <div class="col-5 salryInput">
          <!-- Adding the 6th employee attribute -->
          <div class=" input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-transparent"> ክፍያ:</span>
            </div>
            <input
              type="text"
              readonly
              class="form-control bg-white"
              [(ngModel)]="employee.grossPayment"
            />
          </div>

          <!-- Adding the 7th employee attribute -->
          <div class=" input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-transparent"> ግብር ( % ):</span>
            </div>
            <select class="custom-select mr-sm-2"   (input)="calTax($event.target.value)">
              <option selected >0%</option>
              <option >10%</option>
              <option >15%</option>
              <option >20%</option>
              <option >25%</option>
              <option >30%</option>
              <option >35%</option>
            </select>
          </div>

          <!-- Adding the 6th employee attribute -->
          <div class=" input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-transparent"> ጡረታ:</span>
            </div>
            <select class="custom-select mr-sm-2"   (input)="calPension($event.target.value)">
                <option selected >0%</option>
                <option >7%</option>
                <option >11%</option>
              </select>
          </div>
          <hr />
          <h5>
            ተጨማሪ:
            <span>
              <button
                class="btn btn-success float-right"
                (click)="openVerticallyCentered(content, true)"
              >
                +
              </button>
            </span>
          </h5>
          <br />
          <div class="showTable">
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                      <th>ምክያት</th>
                      <th>ፐርሰንት</th>
                      <th>የተጣራ</th>
                      <th></th>
                    </tr>
                  </thead>

               <tbody>
                <tr *ngFor="let field of addableArray; let i = index">
                    <td>
                        {{field.reason}}
                        <!-- <input [(ngModel)]="field.code" class="form-control" type="text" name="{{field.code}}" /> -->
                    </td>
                    <td>
                        {{field.percent}} % 
                        <!-- <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" /> -->
                    </td>
                    <td>
                        {{field.amount}}
                        <!-- <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" /> -->
                    </td>
                    <td>
                        <button class="btn btn-sm bg-danger"  type="button" (click)="deleteAdds(i)">Delete</button>
                    </td>
                </tr>
            </tbody>
            </table>

            <br />
            <button
              class="btn btn-success float-left"
              (click)="isAnswerProvided()">
            ስሌት
            </button>
            <br/>
            <br/>
            <hr/>
            <h6>አጠቃላይ ተጨማሪ: {{addable}} </h6>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
          <h5>
            ተቀናሽ:
            <span>
              <button
                class="btn btn-danger float-right"
                (click)="openVerticallyCentered(content, false)" >
                -
              </button>
            </span>
          </h5>
          <br />
          <div class="showTable">
            <table class="table table-sm table-striped table-hover">
              <thead>
                <tr>
                  <th>ምክያት</th>
                  <th>ፐርሰንት</th>
                  <th>የተጣራ</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let field of subsArray; let i = index">
                      <td>
                          {{field.reason}}
                          <!-- <input [(ngModel)]="field.code" class="form-control" type="text" name="{{field.code}}" /> -->
                      </td>
                      <td>
                          {{field.percent}} % 
                          <!-- <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" /> -->
                      </td>
                      <td>
                          {{field.amount}}
                          <!-- <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" /> -->
                      </td>
                      <td>
                          <button class="btn btn-sm bg-danger"  type="button" (click)="deleteSubs(i)">Delete</button>
                      </td>
                  </tr>
              </tbody>
            </table>

            <h5 class="float-left">ቀሪ ቀናቶች</h5>
            <br />
            <hr />

            <div class="row">
              <div class="col-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">ከቀን</span>
                  </div>
                  <input
                   
                    class="form-control"
                    placeholder="ቀን"
                 
                    aria-describedby="basic-addon1"
                  />
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">እስከ</span>
                  </div>
                  <input
                    
                    class="form-control"
                    placeholder="እስከ"
                  
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <div class="col-6">
                <ul class="list-group border-success">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                  >
                    የቀሪ ቀናት ብዛት
                    <span class="badge badge-danger badge-pill">3</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                    (click) = "calDed()"
                  >
                    የሰዓታት ብዛት
                    <span class="badge badge-danger badge-pill">02:00</span>
                  </li>
                </ul>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">ቅጣት/ቀን</span>
                </div>
                <input
                  type="number"
                  class="form-control"
                  placeholder="ተቀናሽ ብር መጠን ለ1 ቀን ቀሪ"
                />
              </div>
              <button
                class="btn btn-success float-right"
                (click)="calculateDeduction()"
              >
                ስሌት
              </button>
            </div>
          </div>

          <br />
          <hr />
          <h6>አጠቃላይ ተቀናሽ: <span class="text-danger">{{taxCalc + deduction || 0}}</span> </h6>
          <br />
          <h5>የተጣራ ወርሃዊ ክፍያ: 8000</h5>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>

<!-- Modal content -->

<ng-template #content let-modal>

  <div class="modal-header bg-dark text-white">

    <h4 class="modal-title" id="modal-basic-title">{{toCalulate}}</h4>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span class="text-danger" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-white text-dark">
    <small style="font-size: 11px" class="text-muted">Please enter either the percent or the amount and the other will be calculated automatically</small>
    <br>
    <br>
    <p>
      ምክያት : &nbsp;
      <!-- <input class="float-right" type="form-control" name="mobilePhone"  [(ngModel)]="reason"/> -->
      <input class="form-control" type="text" id="reason" [(ngModel)]="newAttribute.reason" name="reason" />
    </p>
    <p>
      ፐርሰንት : &nbsp; 
      <!-- <input class="float-right" type="number" name="address" [(ngModel)]="percent" /> -->
      <input  class="form-control" type="number" id="percent" [(ngModel)]="newAttribute.percent" name="percent" 
      (input)="percentAmt($event.target.value)"/>
    </p>
    <p>
      ስሌት : &nbsp;
      <!-- <input class="float-right" type="number" name="emailAddress" [(ngModel)]="amount" /> -->
      <input  class="form-control" type="number" id="amount" [(ngModel)]="newAttribute.amount" name="amount" 
      (input)="totalAmt($event.target.value)"/>
    </p>
  </div>
  <div class="modal-footer warning ">

    <button class="btn btn-default" type="button" (click)="addFieldValue()">መዝግብ</button>
   
    <button
      type="button"
      class="btn text-white bg-danger"
      (click)="modal.close('Cancel click')"
    >
      ተመለስ
    </button>
  </div>
</ng-template>

<!-- End of modal content  -->

<ng-template #notify let-modal>
    <div class="modal-header bg-info text-white">
      <h4 class="modal-title" id="modal-basic-title">ማረጋገጫ</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
      >
        <span class="text-danger" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-white text-dark">
      አዲስ መረጃ በ  ላይ ይመዘገባል! ቀጥል?
    </div>
    <div class="modal-footer warning ">
      <button
        type="button"
        class="btn text-white bg-success"
        (click)="modal.close() && isTrue=true"
      >
        መዝግብ
      </button>
      <button
        type="button"
        class="btn text-white bg-danger"
        (click)="modal.close() && isTrue=false"
      >
        ተመለስ
      </button>
    </div>
  </ng-template>
